.form-group > legend , .titleLabel {
    font-weight: 600;
    color: #34395e;
    font-size: 12px;
    letter-spacing: .5px;
}
.selectBoxTag {
    width: auto
}

.table-detail-custom tbody th {
    min-width: 200px;
    width: 210px;
}

.note-editor{
    margin-top: 10px;
}
a.disabled {
    pointer-events: none;
    cursor: default;
  }
  .paginationBLock{
      position: relative;
  }
  
  .pagination {
      position:absolute;
      right: 0px;
      display: inline-block;
      padding-left: 0;
      margin: 20px 0;
      border-radius: 4px;
  }
  .pagination > li {
      display: inline;
      border-radius: 50%;
  }
  
  .pagination > li:first-child > a, .pagination > li:first-child > span {
      margin-left: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  }
  
  .pagination > li:last-child > a, .pagination > li:last-child > span {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
  }
  
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
      z-index: 2;
      color: #fff;
      cursor: default;
      background-color: #6777ef;
      border-color: #6777ef;
  }
  
  .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
      z-index: 3;
      color: #23527c;
      background-color: #eee;
      border-color: #ddd;
  }
  
  .pagination > li > a, .pagination > li > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      color: #6777ef;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
  }
tr, td {
    white-space: nowrap;
}

.btn-outline-success:focus {
    background-color: transparent !important;
    color: #28a745 !important;
    border-color: #28a745 !important;
}

.btn-outline-success.active:focus {
    background-color: #28a745 !important;
    color: #fff !important;
    border-color: #28a745 !important;
}

.b-form-datepicker .dropdown-menu {
    width: initial;
}

.no-border-radius-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    height: 100%;
}

.no-border-radius-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    height: initial;
}

.white-space-normal {
    white-space: normal !important;
}
.height-initial {
    height: initial !important;
    padding-left: 5px;
}

.require-icon {
    color: red;
}

.main-navbar {
    background-color: #6777ef;
}

.custom-select {
    background-color: #e9ecef !important;
    color: #495057 !important;
}

.navbar-avatar {
    width: 40px;
    height: 40px;
}

.b-sidebar {
    width: 250px !important;
}

.b-sidebar-body {
    overflow: hidden !important;
}

.b-sidebar-header {
    display: none !important;
}

#main-sidebar {
    display: block;
}
.w-5 {
    width: 5%;
}
.w-10 {
    width: 10%;
}


.w-20 {
    width: 20%;
}


.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.border-form {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    min-height: 42px
}

.border-none {
    border: 0px !important;
}